<h1>Your Events</h1>

<ul>
<% @user.events.each do |event|%>
<li><%=event.location%> <%=event.date%></li>
<% end %>
</ul>

<h2>Events Attended</h2>
<% @user.attendances.each do |attendance| %>
<li><%= attendance.attended_event.location %> <%= attendance.attended_event.date %></li>
<% end %>

<%= link_to "New Event", new_event_path%>