<%= form_with model: event do |form|%>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.datetime_field :date %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
